## ***RANDOMIZEDSEARCHCV to select best hyperparameter***

In [31]:
import pandas as pd
import numpy as np

In [32]:
ads = pd.read_csv('Social_Network_Ads.csv')
ads.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [3]:
del ads['User ID']
ads.head()

   Gender   Age  EstimatedSalary  Purchased
0    Male  19.0          19000.0          0
1    Male  35.0          20000.0          0
2  Female  26.0          43000.0          0
3  Female  27.0          57000.0          0
4    Male  19.0          76000.0          0

In [4]:
x=ads.iloc[:,:-1]
y=ads.iloc[:,3]

In [5]:
x = pd.get_dummies(x, columns=['Gender'],prefix='Gender')

In [6]:
x.head()

    Age  EstimatedSalary  Gender_Female  Gender_Male
0  19.0          19000.0              0            1
1  35.0          20000.0              0            1
2  26.0          43000.0              1            0
3  27.0          57000.0              1            0
4  19.0          76000.0              0            1

In [7]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([("norm1", StandardScaler(), [1])])
x['EstimatedSalary']=ct.fit_transform(x)

In [8]:
ct = ColumnTransformer([("norm1", StandardScaler(), [0])])
x['Age']=ct.fit_transform(x)

In [9]:
x.head()

        Age  EstimatedSalary  Gender_Female  Gender_Male
0 -1.781797        -1.490046              0            1
1 -0.253587        -1.460681              0            1
2 -1.113206        -0.785290              1            0
3 -1.017692        -0.374182              1            0
4 -1.781797         0.183751              0            1

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =5)

In [17]:
from sklearn.ensemble import RandomForestClassifier

classifier=RandomForestClassifier()

In [21]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

In [22]:
parameters={'n_estimators':[40,60,80,90,100,140,220,250,300],
            'criterion':['gini','entropy'],
            'max_depth':[3,4,5,6,7],
            'max_features':randint(1,3)}
randomsearch=RandomizedSearchCV(estimator=classifier,
                                param_distributions=parameters,
                                n_iter=20,cv=10,n_jobs=-1,
                                scoring = 'accuracy')
randomsearch=randomsearch.fit(x_train,y_train)

c:\users\mithunkumar s\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [23]:
randomsearch.best_score_

0.8966666666666666

In [24]:
randomsearch.best_params_

{'criterion': 'entropy', 'max_depth': 3, 'max_features': 2, 'n_estimators': 100}

In [25]:
randomsearch.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=3, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [26]:
classifier=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=3, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=3, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [27]:
y_pred=classifier.predict(x_test)

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[61  5]
 [ 1 33]]

In [29]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.94