## ***GRIDSEARCHCV to select best hyperparameter***

In [ ]:
#import the libraries
import pandas as pd
import numpy as np

In [2]:
#import the dataset
ads = pd.read_csv('Social_Network_Ads.csv')
ads.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [3]:
del ads['User ID']
ads.head()

   Gender   Age  EstimatedSalary  Purchased
0    Male  19.0          19000.0          0
1    Male  35.0          20000.0          0
2  Female  26.0          43000.0          0
3  Female  27.0          57000.0          0
4    Male  19.0          76000.0          0

In [4]:
x=ads.iloc[:,:-1]
y=ads.iloc[:,3]

In [5]:
x = pd.get_dummies(x, columns=['Gender'],prefix='Gender')

In [6]:
x.head()

    Age  EstimatedSalary  Gender_Female  Gender_Male
0  19.0          19000.0              0            1
1  35.0          20000.0              0            1
2  26.0          43000.0              1            0
3  27.0          57000.0              1            0
4  19.0          76000.0              0            1

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([("norm1", StandardScaler(), [1])])
x['EstimatedSalary']=ct.fit_transform(x) 
ct = ColumnTransformer([("norm1", StandardScaler(), [0])])
x['Age']=ct.fit_transform(x)

In [8]:
x.head()

        Age  EstimatedSalary  Gender_Female  Gender_Male
0 -1.781797        -1.490046              0            1
1 -0.253587        -1.460681              0            1
2 -1.113206        -0.785290              1            0
3 -1.017692        -0.374182              1            0
4 -1.781797         0.183751              0            1

In [9]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =5)

In [10]:
from sklearn.svm import SVC
classifier = SVC()

In [12]:
 # Applying Grid Search to find the best parameters
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(x_train, y_train)

c:\users\mithunkumar s\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [13]:
grid_search.best_score_

0.9066666666666666

In [14]:
grid_search.best_params_

{'C': 1, 'gamma': 0.9, 'kernel': 'rbf'}

In [16]:
grid_search.best_estimator_

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.9, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [18]:
classifier = SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.9, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

classifier.fit(x_train, y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.9, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [20]:
y_pred = classifier.predict(x_test)

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[61,  5],
       [ 3, 31]], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.92